.pricefilter{
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ededed;
	width: 100%;
}
.pricefilter .priceheader{
	display: flex;
	justify-content: space-between;
	 padding: 5px;
	 margin: 10px;
	}
.priceheader button{
		color: #f68b1e;
		background-color: transparent;
		padding: 5px;
		font-weight: 500;
	}
.priceheader button:hover{
    background-color:#feefde;
	}
.pricePointer {
	position: relative;
	margin: 0 10px;
	padding: 5px 0;
}

.pricePointer .slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 15px;
}
.pricePointer .slider  .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.pricePointer .slider  .range {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #f68b1e;
}
.pricePointer .slider .pointer {
	position: absolute;
	z-index: 5;
	width: 20px;
	height: 20px;
	background-color: #f68b1e;
	border-radius: 50%;
}
.pricePointer .slider  .pointer.left {
	transform: translate(-12px, -10px);
}
.pricePointer .slider  .pointer.right {
	transform: translate(12px, -10px);
}

.pricePointer input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
.pricePointer input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 20px;
	height: 20px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
.pricefilter .rangeInfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 290px;
	
}
.rangeInfo span {
margin: 0 10px;	
}

.rangeInfo input[type=number]{
	   border-radius: 2px;
	   border: 1px solid rgb(185, 185, 185);
	   height: 30px;
	   outline: none;
	   width: 120px;
}
