.ProductsGroup{
    background-color: white;
    margin: 5px 0;
    -webkit-box-shadow: -1px 1px 9px -1px rgba(0,0,0,0.15); 
    box-shadow: -1px 1px 9px -1px rgba(0,0,0,0.15);
}
.ProductsGroup h3{
    padding: 10px 10px 10px 0;
    font-weight: 600;
    border-bottom: 1px solid #ededed;
}

.ProductsGroup .productsArea{
    display: flex;
    width:100%;
    padding: 5px  3px 0px ;
    overflow: hidden;
    position: relative;
}
