
.changepassword >p{
    padding: 10px;
    font-size: 18px;
    border-bottom: .5px solid #ededed;
    font-weight: 500;

}
.changepassword form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}
.changepassword form button{
    width: 90%;
    margin: 5px 0;
    font-size: 16px;
}

.changepassword  .icon{
    color: gray;
    z-index: 10;
}
